.student-navbar {
    background-color: var(--secondary);
    box-sizing: border-box;
    height: 64px;
}

.logo img {
    height: 56px;
}

.student-navbar img {
    max-height: 48px;
}

.profile-options-container {
    position: relative;
}

.profile-options {
    background: none;
    border: none;
    padding: 0;
}

.profile-options:hover {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu.show {
    display: block;
    background-color: var(--white);
    position: absolute;
    top: 32px;
    right: 0;
    min-width: 150px;
    padding: 8px 0;
}

.dropdown-item {
    padding: 12px 20px;
}

.dropdown-item:hover {
    background-color: #efefef;
    cursor: pointer;
}

a {
    color: var(--text);
    text-decoration: none;
}

@media (max-width: 450px) {
    .logo img {
        height: 36px;
    }
}
