<h1 class="text-white">Pasantias</h1>
<div class="row">
  <div class="side">
    <div class="container">
      <h1 class="text-primary">FIltrar por</h1>
      <form
        class="d-flex flex-column"
        [formGroup]="filtersForm"
        (ngSubmit)="onSubmitFilters()"
      >
        <div class="form-group">
          <select formControlName="major">
            <option [ngValue]="null" [disabled]="true" [selected]="true">
              Carrera
            </option>
            <option *ngFor="let major of majorList" [ngValue]="major">
              {{ major.name }}
            </option>
          </select>
          <button (click)="this.filtersForm.get('major')?.reset()">❌</button>
        </div>
        <div class="form-group">
          <select formControlName="city">
            <option [ngValue]="null" [disabled]="true" [selected]="true">
              Ciudad
            </option>
            <option *ngFor="let city of cityList" [ngValue]="city">
              {{ city.name }}
            </option>
          </select>
          <button (click)="this.filtersForm.get('city')?.reset()">❌</button>
        </div>
        <div class="form-group">
          <input
            formControlName="startingDate"
            type="text"
            onfocus="(this.type='date')"
            onblur="(this.value === '' ? this.type='text': this.type='date')"
            placeholder="Fecha de inicio"
          />
          <button (click)="startingDateReset()">❌</button>
        </div>
        <div class="form-group">
          <input
            formControlName="endingDate"
            type="text"
            onfocus="(this.type='date')"
            onblur="(this.value === '' ? this.type='text': this.type='date')"
            placeholder="Fecha de fin"
          />
          <button (click)="endingDateReset()">❌</button>
        </div>
        <button type="submit" class="btn btn-primary">Aplicar</button>
      </form>
    </div>
  </div>
  <div class="middle">
    <div class="container">
      <ul>
        <li *ngIf="this.internshipList.length === 0">
          <div class="container">
            <span>No se encontron pasantias con los filtros aplicados</span>
          </div>
        </li>
        <li *ngFor="let internship of internshipList; let i = index">
          <app-internship-card [internship]="internship"></app-internship-card>
        </li>
      </ul>
      <ul class="d-flex flex-row align-center page">
        <li>
          <button
            class="page-selector"
            (click)="prevPage()"
            *ngIf="this.page !== 0"
          >
            <
          </button>
          <button
            class="page-selector"
            *ngFor="let pageNumber of pageList"
            [ngClass]="{ selected: pageNumber === this.page + 1 }"
            (click)="selectPage(pageNumber - 1)"
          >
            {{ pageNumber }}
          </button>
          <button
            class="page-selector"
            (click)="nextPage()"
            *ngIf="this.page < this.totalPages - 1"
          >
            >
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="side"></div>
</div>
