<nav class="navbar d-flex flex-space-between p-3"><ul class="d-flex navbar-list">
    <li><a routerLink="/" routerLinkActive="active" class="navbar-link px-3 mx-3">Inicio</a></li>
    <li><a routerLink="/" routerLinkActive="active" class="navbar-link px-3 mx-3">Contacto</a></li>
    <li><a routerLink="/ingresar" routerLinkActive="active" class="navbar-link px-3 mx-3">Ingresar</a></li>
    <li><a routerLink="/registro-estudiante" routerLinkActive="active" class="navbar-link px-3 mx-3">Registrarse Estudiante</a></li>
  </ul>
  <div class="navbar-logo">
    <img src="/assets/images/logo-white.svg" alt="Internship by Cato" height="100" >
  </div>
</nav>
