<div class="admin-sidebar p-2" [ngClass]="{'show': show}">
    <div class="sidebar-header d-flex flex-space-between">
        <img class="logo" src="assets/images/logo-white.svg" alt="Logo">
        <button class="hamburger-button" (click)="toggleSidebar()">
            <img src="assets/images/hamburger-icon.svg" alt="">
        </button>
    </div>
    <div class="sidebar-section">
        <span class="text-white sidebar-title">Solicitudes de Registro</span>
        <ul>
            <li class="d-flex flex-space-between align-center sidebar-option" [routerLink]="['/administrador/graduados']" routerLinkActive="router-link-active" >
                <img src="assets/images/graduate-white.svg" alt="Graduados">
                <span>Graduados</span>
                <div class="notification mr-2">99</div>
                <img src="assets/images/arrow-right-sm.svg"  alt="">
            </li>
            <li class="d-flex flex-space-between align-center sidebar-option" [routerLink]="['/administrador/instituciones']" routerLinkActive="router-link-active" >
                <img src="assets/images/institution-white.svg" alt="Instituciones">
                <span>Instituciones</span>
                <div class="notification mr-2 text-center">99</div>
                <img src="assets/images/arrow-right-sm.svg"  alt="">
            </li>
        </ul>
    </div>
    <div class="sidebar-section">
        <span class="text-white sidebar-title">Convocatorias a Pasantías</span>
        <ul>
            <li class="d-flex flex-space-between align-center sidebar-option" [routerLink]="['/administrador/convocatorias']" routerLinkActive="router-link-active" >
                <img src="assets/images/task-white.svg" alt="Solicitadas">
                <span>Solicitadas</span>
                <img src="assets/images/arrow-right-sm.svg"  alt="">
            </li>
            <li class="d-flex flex-space-between align-center sidebar-option">
                <img src="assets/images/internship-active.svg" alt="Instituciones">
                <span>Activas</span>
                <img src="assets/images/arrow-right-sm.svg"  alt="">
            </li>
        </ul>
    </div>
    <div class="sidebar-section">
        <span class="text-white sidebar-title">Reportes</span>
        <ul>
            <li class="d-flex flex-space-between align-center sidebar-option">
                <img src="assets/images/graduate-white.svg" alt="Estudiantes">
                <span>Estudiantes</span>
                <img src="assets/images/arrow-right-sm.svg"  alt="">
            </li>
            <li class="d-flex flex-space-between align-center sidebar-option">
                <img src="assets/images/institution-white.svg" alt="Instituciones">
                <span>Instituciones</span>
                <img src="assets/images/arrow-right-sm.svg"  alt="">
            </li>
        </ul>
    </div>
</div>
