<app-modal [widthClass]="'w-25'" [displayModal]="displayModal" [disposable]="true" (onDispose)="disposeModal()">
  <div body>
    <form [formGroup]="answerForm" *ngIf="internship">
      <div formArrayName="answer">
        <div *ngFor="let internshipQuestion of internship!.internshipQuestions; let i=index">
          <label for="answer-{{ i }}">{{internshipQuestion.description}}</label>
          <textarea id="answer-{{ i }}" type="text" [formControlName]="i" name="message" class="w-100"
                    rows="1" formControlName="message"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div footer class="d-flex flex-center align-center mt-3">
    <button (click)="disposeModal()" class="btn btn-rounded btn-primary mx-3">Cancelar</button>
    <button class="btn btn-rounded btn-primary mx-3 " (click)="submitForm()">Confirmar</button>
  </div>
</app-modal>
<div class="institution-home-wrapper">
  <app-student-navbar></app-student-navbar>
  <div class="image-ellipse-container">
    <div class="image-ellipse">
      <img src="assets/images/ucb-circle-background.png" alt="UCB">
    </div>
  </div>
  <div class="internship-institution-content d-flex flex-center" *ngIf="internship">
    <div class="shadow border-rd-12 content-card py-3 px-5 internship-card">
      <div class="internship-header mb-3">
        <div class="profile-picture-container mr-3">
          <img class="profile-picture" [src]="internship!.institution.user.profilePicture" alt="profile picture">
        </div>
        <div class="institution-data">
          <h2 class="text-secondary">{{internship!.institution.name}}</h2>
          <div class="d-flex switch-container">
            <app-toggle-switch (toggleSwitch)="toggleView($event)"></app-toggle-switch>
            <div class="text-regular ml-2 switch-details">{{displayInternship ? 'Detalles de la pasantía' : 'Acerca de la institución'}}</div>
          </div>
        </div>
      </div>
      <hr>
      <div *ngIf="displayInternship">
        <app-internship-description [internship]="internship"></app-internship-description>
        <div class="d-flex flex-center align-center mt-3">
          <button class="btn btn-primary btn-rounded" (click)="displayApplicantOptions()">Postular</button>
        </div>
      </div>
      <div *ngIf="!displayInternship">
        <h3 class="text-primary">Sector</h3>
        <span class="text-regular">{{internship!.institution.area}}</span>
        <h3 class="text-primary">Acerca de {{internship!.institution.name}}</h3>
        <span class="text-regular">{{internship!.description}}</span>
        <h3 class="text-primary">Datos de Contacto</h3>
        <div class="d-flex flex-column"><span
            class="text-regular">{{internship!.institution.contactFirstName}}  {{internship!.institution.contactLastName}}</span>
          <span class="text-regular">{{internship!.institution.contactPosition}}</span>
          <span class="text-regular">{{internship!.institution.contactEmail}}</span>
          <span class="text-regular">{{internship!.institution.contactPhone}}</span></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
