<div class="admin-menu-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <div class="admin-wrapper d-flex w-100 flex-space-between">
        <app-admin-sidebar class="sidebar"></app-admin-sidebar>
        <section class="body p-2">
            <h1 class="text-primary text-center">Solicitudes de Registro</h1>
            <h3 class="text-secondary">Instituciones</h3>
            <table class="border-rd-8">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Área</th>
                    <th>Nombre del Contacto</th>
                    <th>Correo de Acceso</th>
                    <th>Detalles</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let institution of institutions">
                    <td>{{institution.name}}</td>
                    <td>{{institution.area}}</td>
                    <td>{{institution.contactName}}</td>
                    <td>{{institution.email}}</td>
                    <td><button class="btn btn-primary">Ver detalles</button></td>
                </tr>
                </tbody>
            </table>
            <h3 class="text-secondary">Graduados</h3>
        </section>
    </div>
</div>