.admin-menu-wrapper {
    height: 100vh
}

.admin-wrapper {
    height: 100%;
}

.sidebar {
    width: 15%;
}

.body {
    flex: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: var(--tertiary);
    color: white;
    padding: 8px;
    text-align: left;
}

td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
