<button class="btn btn-primary">Test button</button>
<button class="btn btn-primary" disabled>Test button</button>
<br>
<button class="btn btn-secondary">Test button</button>
<button class="btn btn-secondary" disabled>Test button</button>
<br>
<button class="btn btn-tertiary">Test button</button>
<button class="btn btn-tertiary" disabled>Test button</button>
<br>
<button class="btn btn-outline-primary">Test button</button>
<button class="btn btn-outline-primary" disabled>Test button</button>
<br>
<button class="btn btn-outline-secondary">Test button</button>
<button class="btn btn-outline-secondary" disabled>Test button</button>
<br>
<button class="btn btn-outline-tertiary">Test button</button>
<button class="btn btn-outline-tertiary" disabled>Test button</button>
<br>
<button class="btn btn-primary btn-rounded">Test button</button>
<button class="btn btn-primary btn-rounded" disabled>Test button</button>
<br>
<button class="btn btn-secondary btn-rounded">Test button</button>
<button class="btn btn-secondary btn-rounded" disabled>Test button</button>
<br>
<button class="btn btn-tertiary btn-rounded">Test button</button>
<button class="btn btn-tertiary btn-rounded" disabled>Test button</button>
<br>
<button class="btn btn-outline-primary btn-rounded">Test button</button>
<button class="btn btn-outline-primary btn-rounded" disabled>Test button</button>
<br>
<button class="btn btn-outline-secondary btn-rounded">Test button</button>
<button class="btn btn-outline-secondary btn-rounded" disabled>Test button</button>
<br>
<button class="btn btn-outline-tertiary btn-rounded">Test button</button>
<button class="btn btn-outline-tertiary btn-rounded" disabled>Test button</button>
<h1>Large Title</h1>
<h1 class="text-primary">Large Title Primary</h1>
<h1 class="text-secondary">Large Title Secondary</h1>
<h1 class="text-tertiary">Large Title Tertiary</h1>
<h1 class="text-regular">Large Title regular</h1>
<h1 class="text-primary text-regular">Large Title Primary Regular</h1>
<h1 class="text-secondary text-regular">Large Title Secondary Regular</h1>
<h1 class="text-tertiary text-regular">Large Title Tertiary Regular</h1>
<h1 class="text-error text-regular">Large Title Error Regular</h1>
<h2>Title 1</h2>
<h2 class="text-regular">Title 1 regular</h2>
<h3>Title 2</h3>
<h3 class="text-regular">Title 2 regular</h3>
<h4>Title 3</h4>
<h4 class="text-regular">Title 3 regular</h4>
<h5 class="text text-bold">Regular bold text</h5>
<h5 class="text text-regular">Regular text</h5>

<div class="card border shadow">
  <h1>Test card</h1>
</div>

<input type="text" class="input focus-secondary border-rd-8" placeholder="test">

<div class="w-100 flex flex-center">
  <div class="card border border-rd-24 shadow w-75 flex flex-column">
    <h1 class="text-secondary text-center">Formulario de Registro</h1>
    <h2 class="text-secondary text-left">Datos Institucionales</h2>
    <div class="px-12 flex flex-column">
      <input type="text" class="focus-primary my-8" placeholder="Nombre de la Institución">
      <input type="text" class="focus-primary my-8" placeholder="Sector al que pertenece">
      <textarea name="" id="" cols="30" rows="10" placeholder="Description" class="my-8"></textarea>
    </div>
    <h2 class="text-secondary text-left">Datos de Contacto</h2>
    <div class="px-12 flex flex-column"><input type="text" class="focus-primary my-8" placeholder="Nombre del contacto">
      <input type="text" class="focus-primary my-8" placeholder="Correo electronico">
      <input type="text" class="focus-primary my-8" placeholder="Telefono">
    </div>
    <div class="flex flex-center">
      <button class="btn btn-primary btn-rounded my-12 w-25">Registrarse</button>
    </div>
  </div>
</div>
