<div class="background">
    <app-login-navbar></app-login-navbar>
    <div class="sign-up-card px-6 my-6 card border-rd-24 mx-auto">
        <form class="d-flex flex-column" [formGroup]="graduateSignUpForm">
            <h1 class="text-secondary text-center">Formulario de Registro</h1>
            <h2 class="text-secondary">Datos Personales</h2>
            <div class="d-flex flex-space-between image-input-data">
                <div class="mr-3 image-input-container" #imageInput id="imageInput">
                    <app-image-input (imageChanged)="handleImageChange($event)"></app-image-input>
                    <span *ngIf="formSubmitted && this.profilePicture === null"
                        class="text-error text-center span-center"><sup>&ast;</sup>La foto de perfil es
                        requerida.</span>
                </div>
                <div class="d-flex flex-column sign-up-data">
                    <!-- FIRST NAME INPUT -->
                    <input type="text" placeholder="Nombres" class="focus-primary my-2" id="firstName"
                        formControlName="firstName">
                    <span
                        *ngIf="graduateSignUpForm.get('firstName')?.errors?.['required'] && graduateSignUpForm.get('firstName')?.touched"
                        class="text-error"><sup>&ast;</sup> El nombre del estudiante es requerido.</span>

                    <!-- LAST NAME INPUT -->
                    <input type="text" placeholder="Apellidos" class="focus-primary my-2" id="lastName"
                        formControlName="lastName">
                    <span
                        *ngIf="graduateSignUpForm.get('lastName')?.errors?.['required'] && graduateSignUpForm.get('lastName')?.touched"
                        class="text-error"><sup>&ast;</sup>El apellido del estudiante es requerido.</span>
                </div>
            </div>
            <!-- C.I. INPUT -->
            <input type="text" placeholder="C.I." class="focus-primary my-2" id="ci" formControlName="ci">
            <span *ngIf="graduateSignUpForm.get('ci')?.errors?.['required'] && graduateSignUpForm.get('ci')?.touched"
                class="text-error"><sup>&ast;</sup> El C.I. del estudiante es requerido.</span>

            <!-- PHONE NUMBER INPUT -->
            <input type="text" placeholder="Celular" class="focus-primary my-2" id="phoneNumber"
                formControlName="phoneNumber">
            <span
                *ngIf="graduateSignUpForm.get('phoneNumber')?.errors?.['required'] && graduateSignUpForm.get('phoneNumber')?.touched"
                class="text-error"><sup>&ast;</sup>El celular del estudiante es requerido.</span>
            <!-- PDF file input -->
            <app-pdf-file-input (fileChanged)="handleFileChange($event)"></app-pdf-file-input>
            <span *ngIf="formSubmitted && this.cvFile === null"
                class="text-error text-center span-center"><sup>&ast;</sup>El CV es requerido.</span>


            <h2 class="text-secondary">Datos Académicos</h2>
            <!-- CAMPUS INPUT -->
            <select name="campusId" class="my-2" id="campusId" [(ngModel)]="campusId" [ngModelOptions]="{standalone: true}"
                (change)="selectedCampus()">
                <option [ngValue]="undefined" selected disabled>Sede</option>
                <option *ngFor="let campus of campuses" [value]="campus.campusId">{{campus.name}}
                </option>
            </select>

            <!-- MAJOR INPUT -->
            <select *ngIf="majors !== undefined" class="my-2" name="campusMajorId" id="campusMajorId"
                formControlName="campusMajorId">
                <option [ngValue]="undefined" selected disabled>Carrera</option>
                <option *ngFor="let major of majors" [value]="major.campusMajorId">
                    {{major.name}}</option>
            </select>
            <span
                *ngIf="graduateSignUpForm.get('campusMajorId')?.errors?.['required'] && graduateSignUpForm.get('campusMajorId')?.touched"
                class="text-error"><sup>&ast;</sup> La carrera es requerida.</span>

            <!-- GRADUATION DATE INPUT -->
            <input type="number" placeholder="Año de graduación" class="focus-primary my-2" id="graduationDate"
                min="1900" max="2100" formControlName="graduationDate" formnovalidate>
            <span
                *ngIf="graduateSignUpForm.get('graduationDate')?.errors?.['required'] && graduateSignUpForm.get('graduationDate')?.touched"
                class="text-error"><sup>&ast;</sup> La fecha de graduación es requerida.</span>
            <span
                *ngIf="graduateSignUpForm.get('graduationDate')?.errors?.['min'] && graduateSignUpForm.get('graduationDate')?.touched"
                class="text-error"><sup>&ast;</sup> Ingrese un año válido.</span>
            <span
                *ngIf="graduateSignUpForm.get('graduationDate')?.errors?.['max'] && graduateSignUpForm.get('graduationDate')?.touched"
                class="text-error"><sup>&ast;</sup> Ingrese un año válido.</span>

            <h2 class="text-secondary">Datos de Acceso</h2>

            <!-- EMAIL INPUT -->
            <input type="email" inputmode="email" placeholder="Correo electrónico" class="focus-primary my-2" id="email"
                formControlName="email">
            <span
                *ngIf="graduateSignUpForm.get('email')?.errors?.['required'] && graduateSignUpForm.get('email')?.touched"
                class="text-error"><sup>&ast;</sup> El correo electrónico es requerido.</span>
            <span *ngIf="graduateSignUpForm.get('email')?.errors?.['email'] && graduateSignUpForm.get('email')?.touched"
                class="text-error"><sup>&ast;</sup> Ingrese un correo electrónico válido. Ej:
                admin@ucb.edu.bo</span>

            <!-- PASSWORD INPUT -->
            <input type="password" placeholder="Contraseña" class="focus-primary my-2" id="password"
                formControlName="password">
            <span
                *ngIf="graduateSignUpForm.get('password')?.errors?.['required'] && graduateSignUpForm.get('password')?.touched"
                class="text-error"><sup>&ast;</sup> La contraseña es requerida.</span>
            <span
                *ngIf="graduateSignUpForm.get('password')?.errors?.['minlength'] && graduateSignUpForm.get('password')?.touched"
                class="text-error"><sup>&ast;</sup> La contraseña debe contener al menos 8 caracteres.</span>

            <!-- CONFIRM PASSWORD INPUT -->
            <input type="password" placeholder="Confirmar contraseña" class="focus-primary my-2" id="confirmPassword"
                formControlName="confirmPassword">
            <span
                *ngIf="graduateSignUpForm.get('confirmPassword')?.value !== graduateSignUpForm.get('password')?.value && graduateSignUpForm.get('confirmPassword')?.touched"
                class="text-error"><sup>&ast;</sup> Las contraseñas no coinciden.</span>
            <button type="button" class="btn btn-primary btn-rounded w-50 mx-auto my-3" (click)="submit()">Registrarse
            </button>
        </form>
    </div>
</div>