<app-student-navbar></app-student-navbar>
<div class="card px-6 my-6 card border-rd-24 mx-auto border">
  <form class="d-flex flex-column" [formGroup]="personForm">
    <h1 class="text-secondary text-center">Editar Perfil</h1>
    <h2 class="text-secondary">Datos Personales</h2>
    <div class="d-flex flex-space-between image-input-data">
      <div class="mr-3 image-input-container" #imageInput id="imageInput">
        <img
          src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png"
          alt="profile-image"
        />
      </div>
      <div class="d-flex flex-column data">
        <!-- FIRST NAME INPUT -->
        <label for="firstName" class="text-primary">Nombres</label>
        <input
          type="text"
          placeholder="Nombres"
          class="focus-primary my-2"
          id="firstName"
          [value]="this.person.firstName"
          disabled
        />

        <!-- LAST NAME INPUT -->
        <label for="firstName" class="text-primary">Apellidos</label>
        <input
          type="text"
          placeholder="Apellidos"
          class="focus-primary my-2"
          id="lastName"
          [value]="this.person.lastName"
          disabled
        />
      </div>
    </div>
    <!-- C.I. INPUT -->
    <label for="firstName" class="text-primary">C.I.</label>
    <input
      type="text"
      placeholder="C.I."
      class="focus-primary my-2"
      id="ci"
      [value]="this.person.ci"
      disabled
    />

    <!-- PHONE NUMBER INPUT -->
    <label for="firstName" class="text-primary">Nro de Celular</label>
    <input
      type="text"
      placeholder="Celular"
      class="focus-primary my-2"
      id="phoneNumber"
      formControlName="phoneNumber"
      [value]="this.person.phoneNumber"
    />

    <!-- PDF file input -->
    <app-pdf-file-input
      (fileChanged)="handleFileChange($event)"
    ></app-pdf-file-input>
    <span
      *ngIf="formSubmitted && this.cvFile === null"
      class="text-error text-center span-center"
      ><sup>&ast;</sup>El CV es requerido.</span
    >
    <button
      type="button"
      class="btn btn-primary btn-rounded w-50 mx-auto my-3"
      (click)="submit()"
    >
      Guardar
    </button>
  </form>
</div>
