<div>
  <form>
    <h1>Datos de la convocatoria</h1>
    <div class="form-group">
      <label for="title">Titulo</label>
      <input name="title" id="title" />
    </div>
    <div class="form-group">
      <label for="description">Descripcion</label>
      <textarea name="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="start-date">Fecha de Inicio</label>
      <input name="start-date" id="start-date" type="date" />
    </div>
    <div class="form-group">
      <label for="end-date">Fecha de Finalizacion</label>
      <input name="end-date" id="end-date" type="datetime-local" />
    </div>
    <div>
      <label for="roles">Funciones</label>
      <input name="roles" id="roles" type="text" [(ngModel)]="newRole" />
      <button type="button" (click)="addRole()">+</button>
      <ul>
        <li *ngFor="let role of roleList">{{ role }}</li>
      </ul>
    </div>
    <div>
      <label for="requirements">Requisitos</label>
      <input
        name="requirements"
        id="requirements"
        type="text"
        [(ngModel)]="newRequirement"
      />
      <button type="button" (click)="addRequirement()">+</button>
      <ul>
        <li *ngFor="let requirement of requirementList">{{ requirement }}</li>
      </ul>
    </div>
    <div>
      <label for="benefits">Beneficios</label>
      <input
        name="benefits"
        id="benefits"
        type="text"
        [(ngModel)]="newBenefit"
      />
      <button type="button" (click)="addBenefit()">+</button>
      <ul>
        <li *ngFor="let benefit of benefitList">{{ benefit }}</li>
      </ul>
    </div>
    <div>
      <label for="major">Carrera</label>
      <select name="major" id="major" type="text">
        <option *ngFor="let major of majorList">{{ major.name }}</option>
      </select>
    </div>
    <button class="btn" type="submit" id="saveButton">Guardar</button>
  </form>
</div>
