<div class="institution-home-wrapper">
    <app-institution-navbar (toggleSidebarEvent)="toggleSidebar()"></app-institution-navbar>
    <app-institution-sidebar (toggleSidebarEvent)="setShow($event)" [show]="show"></app-institution-sidebar>
    <div class="institution-content">
        <div class="shadow border-rd-12 pb-4 content-card">
            <h2 class="text-secondary text-center">Pasantía de desarrollo de software</h2>
            <div class="table-container border-rd-8 w-100">
                <table class="applicants-table">
                    <thead>
                        <tr>
                            <th class="profile-picture"></th>
                            <th class="col-25">Nombre</th>
                            <th class="col-20">Carrera</th>
                            <th class="col-20">Correo electrónico</th>
                            <th class="col-10">Fecha</th>
                            <th class="col-10">Estado</th>
                            <th class="col-10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="profile-picture">
                                <img src="assets/images/ucb-background.png" alt="Foto de Perfil">
                            </td>
                            <td>Radomir Luis Vladislavic Nolasco</td>
                            <td>Administracion de empresas</td>
                            <td>radomir.vladislavic@ucb.edu.bo</td>
                            <td>dd/mm/aaaa</td>
                            <td>Pendiente</td>
                            <td class="col-actions">
                                <div class="cv">
                                    <a href="assets/cv.pdf" target="_blank">
                                        <img src="assets/images/cv-icon.svg" alt="CV">
                                    </a>
                                </div>
                                <div class="applicant-options">
                                    <img src="assets/images/internship-details.svg" alt="Opciones">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-picture">
                                <img src="assets/images/ucb-background.png" alt="Foto de Perfil">
                            </td>
                            <td>Radomir Luis Vladislavic Nolasco</td>
                            <td>Administracion de empresas</td>
                            <td>radomir.vladislavic@ucb.edu.bo</td>
                            <td>dd/mm/aaaa</td>
                            <td>Pendiente</td>
                            <td class="col-actions">
                                <div class="cv">
                                    <a href="assets/cv.pdf" target="_blank">
                                        <img src="assets/images/cv-icon.svg" alt="CV">
                                    </a>
                                </div>
                                <div class="applicant-options">
                                    <img src="assets/images/internship-details.svg" alt="Opciones">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-picture">
                                <img src="assets/images/ucb-background.png" alt="Foto de Perfil">
                            </td>
                            <td>Radomir Luis Vladislavic Nolasco</td>
                            <td>Administracion de empresas</td>
                            <td>radomir.vladislavic@ucb.edu.bo</td>
                            <td>dd/mm/aaaa</td>
                            <td>Pendiente</td>
                            <td class="col-actions">
                                <div class="cv">
                                    <a href="assets/cv.pdf" target="_blank">
                                        <img src="assets/images/cv-icon.svg" alt="CV">
                                    </a>
                                </div>
                                <div class="applicant-options">
                                    <img src="assets/images/internship-details.svg" alt="Opciones">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="profile-picture">
                                <img src="assets/images/ucb-background.png" alt="Foto de Perfil">
                            </td>
                            <td>Radomir Luis Vladislavic Nolasco</td>
                            <td>Administracion de empresas</td>
                            <td>radomir.vladislavic@ucb.edu.bo</td>
                            <td>dd/mm/aaaa</td>
                            <td>Pendiente</td>
                            <td class="col-actions">
                                <div class="cv">
                                    <a href="assets/cv.pdf" target="_blank">
                                        <img src="assets/images/cv-icon.svg" alt="CV">
                                    </a>
                                </div>
                                <div class="applicant-options">
                                    <img src="assets/images/internship-details.svg" alt="Opciones">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
