<app-modal [displayModal]="displayModal" [disposable]="true" (onDispose)="disposeModal()">
    <h3 title class="mb-2">Opciones para {{selectedApplicant.firstName + " " + selectedApplicant.lastName}}</h3>
    <div body>
        <form [formGroup]="applicantOptions">
            <div class="radio-buttons">
                <div class="radio-container">
                    <input type="radio" name="value" id="accept" value="1" formControlName="value">
                    <label for="accept">Aceptar solicitud</label>
                </div>
                <div class="radio-container">
                    <input type="radio" name="value" id="decline" value="0" formControlName="value">
                    <label for="decline">Rechazar solicitud</label>
                </div>
            </div>
            <textarea name="message" class="w-100" rows="5" id="message" [placeholder]="getTextareaPlaceholder()" formControlName="message"></textarea>
        </form>
    </div>
    <div footer class="d-flex flex-center align-center mt-3">
        <button (click)="disposeModal()" class="btn btn-rounded btn-primary mx-3">Cancelar</button>
        <button class="btn btn-rounded btn-primary mx-3 " (click)="submitForm()">Confirmar</button>
    </div>
</app-modal>
<div class="institution-home-wrapper">
    <app-institution-navbar (toggleSidebarEvent)="toggleSidebar()"></app-institution-navbar>
    <app-institution-sidebar (toggleSidebarEvent)="setShow($event)" [show]="show"></app-institution-sidebar>
    <div class="institution-content">
        <div class="shadow border-rd-12 pb-4 content-card">
            <h2 class="text-secondary text-center my-3">{{this.title}}</h2>
            <div class="table-container border-rd-8 w-100">
                <table class="applicants-table">
                    <thead>
                        <tr>
                            <th class="profile-picture"></th>
                            <th class="col-25">Nombre</th>
                            <th class="col-20">Carrera</th>
                            <th class="col-20">Correo electrónico</th>
                            <th class="col-10">Fecha</th>
                            <th class="col-10">Estado</th>
                            <th class="col-10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let applicant of applicants">
                            <td class="profile-picture">
                                <img [src]="applicant.profilePictureUrl" [alt]="applicant.firstName + ' ' + applicant.lastName" >
                            </td>
                            <td>{{applicant.firstName + " " + applicant.lastName}}</td>
                            <td>{{applicant.major}}</td>
                            <td>{{applicant.email}}</td>
                            <td>{{applicant.submittedOn | date: 'dd/MM/YYYY'}}</td>
                            <td>{{this.submissionStatus[Number(applicant.status)]}}</td>
                            <td class="col-actions">
                                <div class="cv">
                                    <a [href]="applicant.cvUrl" target="_blank">
                                        <img src="assets/images/cv-icon.svg" alt="CV">
                                    </a>
                                </div>
                                <div class="applicant-options" (click)="displayApplicantOptions(applicant)">
                                    <img src="assets/images/internship-details.svg" alt="Opciones">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
