<nav class="institution-navbar p-2 d-flex flex-space-between align-center">
    <div class="hamburger-logo d-flex">
        <button class="hamburger-button d-flex align-center" (click)="this.toggleSidebarEvent.emit($event)">
            <img src="assets/images/hamburger-icon.svg" alt="Menú"/>
        </button>
        <img src="assets/images/logo-white.svg" alt="Internship by Cato">
    </div>
    <ul class="profile-list">
        <li class="profile d-flex align-center">
            <div class="profile-picture mr-2">
                <img [src]="profilePicture" [alt]="name" />
            </div>
            <div class="d-flex flex-column profile-options-container">
                <div #toggleButton class="profile-options d-flex">
                    <div class="profile-name text-white mr-2 d-flex align-center">{{ name }}</div>
                    <div class="profile-button d-flex align-center">
                        <img src="assets/images/arrow-down.svg" alt="Opciones de usuario"/>
                    </div>
                </div>
                <div #dropdownMenu class="dropdown-menu shadow border-rd-8" [ngClass]="{'show': showOptions}">
                    <ul class="dropdown-list">
                        <li class="dropdown-item d-flex align-center">
                            <a class="ml-2" href="/institucion/perfil">Perfil</a>
                        </li>
                        <li class="dropdown-item d-flex align-center">
                            <img src="assets/images/logout.svg" alt="Cerrar Sesión">
                            <a class="ml-2 logout" href="/ingresar">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>
