<div class="institution-sidebar p-2" [ngClass]="{'show': show}">
    <div class="sidebar-header d-flex flex-space-between">
        <img class="logo" src="assets/images/logo-white.svg" alt="Logo">
        <button class="hamburger-button" (click)="toggleSidebar()">
            <img src="assets/images/hamburger-icon.svg" alt="">
        </button>
    </div>
    <div class="sidebar-section">
        <span class="text-white sidebar-title">Convocatorias a Pasantías</span>
        <ul>
            <li class="sidebar-option">
                <a href="institucion/convocatorias/nueva" class="d-flex flex-space-between align-center w-100">
                    <img src="assets/images/task-white.svg" alt="Solicitadas">
                    <span>Crear convocatoria</span>
                    <img src="assets/images/arrow-right-sm.svg"  alt="">
                </a>
            </li>
            <li class="sidebar-option">
                <a href="institucion/convocatorias/solicitadas" class="d-flex flex-space-between align-center w-100">
                    <img src="assets/images/task-white.svg" alt="Solicitadas">
                    <span>Solicitadas</span>
                    <img src="assets/images/arrow-right-sm.svg" alt="">
                </a>
            </li>
            <li class="sidebar-option">
                <a href="institucion/convocatorias" class="d-flex flex-space-between align-center w-100">
                    <img src="assets/images/internship-active.svg" alt="Instituciones">
                    <span>Activas</span>
                    <img src="assets/images/arrow-right-sm.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-section">
        <span class="text-white sidebar-title">Reportes</span>
        <ul>
            <li class="sidebar-option">
                <a href="institucion/reportes/estudiantes" class="d-flex flex-space-between align-center w-100">
                    <img src="assets/images/graduate-white.svg" alt="Estudiantes">
                    <span>Pasantías</span>
                    <img src="assets/images/arrow-right-sm.svg"  alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
